
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  overflow-y: scroll;
}

header.widget-desc {
  padding-top: 100px;
  padding-bottom: 50px;
  background: #22313F;
  margin-bottom: 40px;
  text-align: center;
  -webkit-box-shadow: -1px 4px 20px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 20px -5px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 20px -5px rgba(0,0,0,0.75);
  color: white;
  width: 100%;
  transition: all 0.1s ease-in;
}
header.widget-desc img{
  text-align:left;
  display:none;
  opacity: 0.7;
  margin-left: 10px;
}
header.widget-desc.scrolled {
  position: fixed;
  height: 25px;
  padding-top: 5px;
}
header.widget-desc.scrolled img{
  display:block;
}
header.widget-desc.scrolled h1{
  display:none;
}
header.widget-desc.scrolled span{
  display:none;
}
header h1 {
    color: rgba(255,255,255,.54); 
}

header.widget-desc span {
  margin-top: 10px;
  display: inline-block;
  font-weight: 300;
  font-size: 20px;
}

.container {
  width: 550px;
  margin: 60px auto;
  text-align: center;
}

.container h2 {
    transition: all 0.3s ease-out;
}
.container.focused h2 {
    opacity: 0;
}

.search {
  border: none;
  width: 0;
  text-indent: 1.5rem;
  font-size: 2rem;
  height: 7rem;
  padding: 1rem 3.5rem;
  border-radius: 4rem;
  cursor: pointer;
  color: black;
  top:0px;
  position: relative;
  -webkit-box-shadow: -1px 4px 20px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 20px -5px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 20px -5px rgba(0,0,0,0.75);
  transition: top .2s ease-out;
  background: #22313F url(search-white.svg) 22px 22px no-repeat;
  background-size: 25px;
}
.search:hover, .search:focus, .container.focused .search {
  background: white url(search.svg) 22px 22px no-repeat;
  background-size: 25px;
}

.search:hover {
  -webkit-box-shadow: -1px 8px 20px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 8px 20px -5px rgba(0,0,0,0.75);
  box-shadow: -1px 8px 20px -5px rgba(0,0,0,0.75);
  top:-2px;
}
.search:focus, .container.focused .search {
  background-size: 20px;
  background-position: 10px 10px;
  width: 100%;
  top:-120px;
  height: 4rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  outline: none;
  cursor: text;
  -webkit-box-shadow: -1px 4px 20px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 20px -5px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 20px -5px rgba(0,0,0,0.75);
}

.product{
    padding:0;
    transition: all 5s ease-out;
}

.product .price{
    float: right; 
    width: 100px;
    height: 150px;
    padding-top: 30px;
    text-align: center;
    background-color: #22313F;    
    color: rgba(255,255,255,.54); 
    font-weight: 600;
    font-size: 21px;
}

.product .info{
    float: right; 
    width: 632px;
}

.product img{
    float: left;
}

#results{
    opacity:0;
    transition: all .5s ease-out;
}
#results.show{
    opacity:1;
}
#results .product{
    display:none;
}
#results.show .product{
    display:block;
}

.recommendation{
    margin: 50px 5px 5px 5px;
}
.recommendation .tile{
    float:left;
    width: 125px;
    margin: 0 5px 5px 0;
}
.recommendation .info{
    /*float:right;*/
    float:left;
    width: 125px;
    padding: 0 5px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12);
}
.recommendation .info div{
  font-size: 18px;
}
.recommendation .info div.price{
  font-size: 14px;
}
.recommendation .tile-img{
    height: 75px;overflow: hidden;
}
.recommendation img{
    float:left;
}




.amg-button {
  width: 100%;
	display: inline-block;
	padding: 10px 20px;
	background: #39d084;
	color: #fff;
	text-transform: uppercase;
	font-size: 26px;
	margin: 10px 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
  border: none;
}

/* Floating Contact ---------------------- */
.amg-blue .amg-floating-icon, 
.amg-blue .amg-floating-link {
	background: #4C8ED0;
}
.amg-floating-wrap {
	position: fixed;
	right: -270px;
	font-size: 20px;
	opacity: 0.6;
	z-index: 999;
  -webkit-transition: right 1s;
	-moz-transition: right 1s;
	-o-transition: right 1s;
	transition: right 1s;
}
.amg-floating-wrap:first-child {
	top: 70px;
}
.amg-floating-wrap:nth-child(2) {
	top: 125px;
}
.amg-floating-icon {
	text-align: center;
}
.amg-floating-icon {
	width: 48px;
	float: left;
	padding: 10px;
}
.amg-floating-icon i:before {
	vertical-align: middle;
}
.amg-floating-link {
	width: 270px;
  min-height: 48px;
	padding: 10px 0;
	overflow: hidden;
}
.amg-floating-link a {
	white-space: nowrap;
  color: #FFFFFF;
	color: rgba(255,255,255,0.7);
	text-decoration: none;
}
.amg-floating-link a:hover {
  color: #FFFFFF;
	color: rgba(255,255,255,1);
}

/* Hover Effect */
.amg-floating-wrap:hover {
	opacity: 1;
  right: 0;
}
.amg-floating-wrap:hover .amg-floating-link {
	right: 0;
}

/*Debug*/
/*
.amg-floating-wrap {
  opacity: 1;
  right: 0;
}
.amg-floating-wrap .amg-floating-link {
  right: 0;
}
*/